<div class="form">
  <% if action_name == 'new' %>
    <h3>Start Forum</h3>
  <% elsif action_name == 'edit' %>
    <h3>Update Forum</h3>
  <% end %>

  <%= form_for (@forum) do |f| %>
    <% if @forum.errors.any? %>
      <%= @forum.errors.full_messages %>
    <% end %>

    <%= f.text_field :title, class: "form-control text-field",
        placeholder: "Title" %><br />

    <%= f.text_field :description, class: "form-control text-field",
        placeholder: "Short Description" %><br />

    <%= f.submit "Submit", class: "form-control submit-button", onClick:"check()" %><br />
  <% end %>
  <%= link_to 'Home', root_path %><br />
  <% if action_name == 'edit' %>
    <% if policy(@forum).destroy? %>
      <%= link_to 'Delete', @forum, method: :delete, data: { confirm: "Are you sure?" }, class: "form-path-link" %><br />
      <% end %>
    <%= link_to 'Back', :back, class: "form-path-link " %><br />
  <% end %>
</div>
