<div class="forum-show">
  <div>
    <%= @forum.title %><br />
    <%= @forum.description %><br />
    <%= link_to 'Home', root_path %><br />
    <% if policy(@forum).update? %>
      <%= link_to 'Edit Forum', edit_forum_path(@forum) %><br />
    <% end %>
    <%= link_to 'Create Poll', new_poll_path(forum_id: @forum.id) %>
  </div>
  <div class="forums-poll-index"><br />
    <%= render partial: "polls/index", remote: true %>
  </div>
</div>
