<div class="form">
  <%= form_tag "/create_poll_roles", remote: true do %>
    <%= hidden_field_tag :poll_id, params[:poll_id] %>

    <div class="">
    <%= label_tag :resource_admin_emails %><br />
    <%= select_tag :resource_admin_emails, options_for_select(@users),
          {class: 'select-two-class', multiple: true, include_blank: false, include_hidden: false, style: "width: 100%;"} %>
    </div>

    <div class="">
    <%= label_tag :user_emails %><br />
    <%= select_tag :user_emails, options_for_select(@users),
          {class: 'select-two-class', multiple: true, include_blank: false, include_hidden: false, style: "width: 100%;"} %>
    </div>

    <div class="participants-bottom-button">
      <%= submit_tag "Select", class: "btn modal-submit-button" %>
    </div>
  <% end %>
</div>


<script>
  $(".select-two-class").select2({
    tags: true,
    multiple: true,
    tokenSeparators: [',', ' '],
    class: "form-control"
  });
</script>
