<div class="form">
  <%= form_tag "/change_users_group", remote: true do %>
    <%= hidden_field_tag :group_id, @group.id %>

    <%= label_tag :user_group_emails %><br />
    <%= select_tag :user_group_emails, options_for_select(@users),
          {class: 'select-two-class', multiple: true, include_blank: false, include_hidden: false, style: "width: 100%;"} %>

    <div class="participants-bottom-button">
      <%= submit_tag "Select", class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<script>
  $(".select-two-class").select2({
    tags: true,
    multiple: true,
    tokenSeparators: [',', ' '],
    class: "form-control"
  });
</script>
