<div class="group-index" style="text-align: center;">
  <% if current_user.email_groups.any? %>
    <h4>Email groups</h4>
    <% current_user.email_groups.each do |group| %>
      <h5><%= group.title %></h5>
      <button><%= link_to 'Show group', group_path(group) %></button>
      <button><%= link_to 'Edit group', edit_group_path(group) %></button>
      <button><%= link_to 'Add Emails', edit_user_emails_path(id: group), remote: true %></button><br />
      <h6><%= group.description %></h6>
      <% if group.users.any? %>
        <table>
          <thead>
            <tr>
              <th>Email</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <% group.users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= link_to 'Remove', remove_user_path(user_id: user.id, group_id: group.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>
