<div class="group-index">

  <div class="group-index-header">
    <h4>Email Groups</h4>
    <div>
      <%= link_to "Create New Group", new_group_path, class: "create-resource-call-to-action" %>
    </div>
    <% if current_user.email_groups.any? %>
    <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search Groups..." title="Type in a title">
  </div>

    <div class="table-wrapper">
      <table id="myTable" class="fl-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>View</th>
            <th>Edit</th>
            <th data-toggle="tooltip" data-placement="top" title="Add emails to a group inorder to add multiple people to many different polls (example: Famly members)">Add Emails <a class="fa fa-info-circle"></a></th>
          </tr>
        </thead>
        <tbody>
          <% current_user.email_groups.each do |group| %>
            <tr>
              <td><%= group.title %></td>
              <td><%= group.description %></td>
              <td><%= link_to 'View Group', group_path(group), class: "table-link" %></td>
              <td><%= link_to '', edit_group_path(group), class: "table-link fa fa-edit" %></td>
              <td><%= link_to 'Add Emails', edit_user_emails_path(id: group), class: "table-link", remote: true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<script>
  searchTable();
</script>
