<div class="group-show" style="text-align: center;">
  <h5><%= @group.title %></h5>
  <h6><%= @group.description %></h6>
  <button><%= link_to 'Edit group', edit_group_path(@group) %></button>
  <button><%= link_to 'Add Emails', edit_user_emails_path(id: @group), remote: true %></button>
  <button><%= link_to 'Back', :back, class: "form-path-link " %></button>
  <% if @group.users.any? %>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for emails..." title="Type in a name">

    <div class="table-wrapper">
      <table id="myTable" class="fl-table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @group.users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= link_to 'Remove', remove_user_path(user_id: user.id, group_id: @group.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
