<% if @poll.poll_options.any? %>
  <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for Polls..." title="Type in a name">
  <div class="poll-options-index table-wrapper">
    <table id="myTable" class="fl-table table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <% if @poll.inactive? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @poll.poll_options.each do |poll_option| %>
        <tr class="table-row-highlight">
          <td><%= poll_option.title %></td>
          <td data-toggle="collapse" data-target="#poll_option_show<%= poll_option.id %>" class="accordion-toggle">
            <a class="fa fa-sort-down rotate rotate<%= poll_option.id %> table-link"></a> <a class="fa table-link">show more</a>
          </td>
          <td>
            <% if current_user.voted_for_option?(poll_option) %>
              <%= render partial: "votes/new", locals: { option_id: poll_option.id } %>
            <% else %>
              <%= render partial: "votes/show", locals: { option_id: poll_option.id } %>
            <% end %>
          </td>
          <% if @poll.inactive? %>
            <td>Average: <%= poll_option.average_ratings %></td>
          <% end %>
        </tr>
        <tr >
          <td colspan="6" class="hiddenRow">
            <div class="accordian-body collapse" id="poll_option_show<%= poll_option.id %>">
              <%= render partial: "poll_options/show", locals: { poll_option: poll_option } %>
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          $('#poll_option_show<%= poll_option.id %>').on('shown.bs.collapse', function() {
            $(".rotate<%= poll_option.id %>").addClass('down')
          });
          $('#poll_option_show<%= poll_option.id %>').on('hidden.bs.collapse', function() {
            $(".rotate<%= poll_option.id %>").removeClass('down');
          });
        </script>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <% if policy(@poll).update? %>
    <div class="add-poll-options">
      <%= link_to 'Add Poll Options', edit_poll_path(@poll) %>
    </div>
  <% end %>
<% end %>

<script>
  searchTable();
  // $(document).on('click',function(){
  //   $('.collapse').collapse('hide');
  // })
</script>
