<% if @poll.poll_options.any? %>
  <div data-step="9" data-intro="Its that easy! Happy voting!" id="poll-show-header">
    <div data-step="1" data-intro="This is the polls title." id="poll-show-title"><%= @poll.title %></div>
    <div data-step="2" data-intro="This is the polls description." id="poll-show-description"><%= @poll.description %></div>
  </div>

  <div class="polls-index">
    <button class="btn btn-primary js-scroll-trigger create-resource-call-to-action" onclick="runPollShowTour()">What do I do?</button>
    <div class="poll-index-header">
      <% if policy(@poll).update? %>
        <div>
          <%= link_to 'Edit Poll', edit_poll_path(@poll), class: "btn btn-primary create-resource-call-to-action", style: "right: 155px;" %>
        </div>
      <% end %>
      <input data-step="4" data-intro="You can search through the options via title" type="text" id="pollOptionsInput" class="search-field" onkeyup="searchTable('pollOptions')" placeholder="Search for Polls..." title="Type in a name">
    </div>
  </div>

  <div class="poll-options-index table-wrapper">
    <table id="pollOptionsTable" class="fl-table table table-condensed" style="border-collapse: collapse;">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <% if @poll.inactive? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @poll.poll_options.each do |poll_option| %>
        <tr data-step="3" data-intro="this is one poll option to vote." class="table-row-highlight">
          <td><%= poll_option.title %></td>
          <td data-step="5" data-intro="Click me to show more info on the option." data-toggle="collapse" data-target="#poll_option_show<%= poll_option.id %>" class="accordion-toggle">
            <a class="fa fa-sort-down rotate rotate<%= poll_option.id %> table-link"></a> <a class="fa table-link">show more</a>
          </td>
          <td data-step="7" data-intro="You slide me to choose a score.">
            <% if current_user.voted_for_option?(poll_option) %>
              <%= render partial: "votes/new", locals: { option_id: poll_option.id } %>
            <% else %>
              <%= render partial: "votes/show", locals: { option_id: poll_option.id } %>
            <% end %>
          </td>
          <% if @poll.inactive? %>
            <td>Average: <%= poll_option.average_ratings %></td>
          <% end %>
        </tr>
        <tr id="poll-o" data-step="6" data-intro="Im all the info on an option!">
          <td colspan="6" class="hiddenRow">
            <div class="accordian-body collapse" id="poll_option_show<%= poll_option.id %>">
              <%= render partial: "poll_options/show", locals: { poll_option: poll_option } %>
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          $('#poll_option_show<%= poll_option.id %>').on('shown.bs.collapse', function() {
            $(".rotate<%= poll_option.id %>").addClass('down')
          });
          $('#poll_option_show<%= poll_option.id %>').on('hidden.bs.collapse', function() {
            $(".rotate<%= poll_option.id %>").removeClass('down');
          });
          function runPollShowTour() {
            introJs().start();
            $("#poll_option_show<%= poll_option.id %>").collapse('show')
          };
        </script>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <% if policy(@poll).update? %>
    <div class="add-poll-options">
      <%= link_to 'Add Poll Options', edit_poll_path(@poll) %>
    </div>
  <% end %>
<% end %>

<script>
  searchTable();
  // $(document).on('click',function(){
  //   $('.collapse').collapse('hide');
  // })
</script>
