
<% if @poll.poll_options.any? %>
  <div class="poll-options-index">
    <% @poll.poll_options.each do |poll_option| %>
      <div class="poll-option-container">
        <div class="poll-option-header">
          <div class="poll-option-title">
            <%= poll_option.title %>
          </div>
          <div class="poll-option-edit">
            <% if policy(@poll).update? %>
              <td><%= link_to 'Edit', edit_poll_option_path(poll_option) %></td>
            <% end %>
          </div>
        </div>
        <div class="rating-slider">
          <% if current_user.voted_for_option?(poll_option) %>
            <td><%= render partial: "votes/new", locals: { option_id: poll_option.id } %></td>
          <% else %>
            <td><%= render partial: "votes/show", locals: { option_id: poll_option.id } %></td>
          <% end %>
          <% if @poll.inactive? %>
            <div>Average: <%= poll_option.average_ratings %></div>
          <% end %>
        </div>
        <% if poll_option.description.present? %>
          <div class="poll-option-description-toggle">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#poll-option-<%= poll_option.id %>" aria-expanded="false" aria-controls="poll-option-<%= poll_option.id %>">
              V
            </button>
          </div>
          <div class="collapse" id="poll-option-<%= poll_option.id %>">
            <div class="card card-body">
              <%= poll_option.description %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
