<% if @poll.poll_options.any? %>
  <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Polls..." title="Type in a name"> -->
  <div class="poll-options-index table-wrapper">
    <table id="myTable" class="fl-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <% if policy(@poll).update? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @poll.poll_options.each do |poll_option| %>
        <tr>
          <td><%= poll_option.title %></td>
          <td><%= link_to 'Learn more', poll_option_path(poll_option), class: "fa fa-eye" %></td>
          <td>
            <% if current_user.voted_for_option?(poll_option) %>
              <%= render partial: "votes/new", locals: { option_id: poll_option.id } %>
            <% else %>
              <%= render partial: "votes/show", locals: { option_id: poll_option.id } %>
            <% end %>
          </td>
          <td>
            <% if @poll.inactive? %>
              Average: <%= poll_option.average_ratings %>
            <% end %>
          </td>
          <td>
            <% if policy(@poll).update? %>
              <%= link_to '', edit_poll_option_path(poll_option), class: "fa fa-edit poll-option-edit-fa" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <% if policy(@poll).update? %>
    <div class="add-poll-options">
      <%= link_to 'Add Poll Options', edit_poll_path(@poll) %>
    </div>
  <% end %>
<% end %>

<script>
// function myFunction() {
//   var input, filter, table, tr, td, i, txtValue;
//   input = document.getElementById("myInput");
//   filter = input.value.toUpperCase();
//   table = document.getElementById("myTable");
//   tr = table.getElementsByTagName("tr");
//   for (i = 0; i < tr.length; i++) {
//     td = tr[i].getElementsByTagName("td")[0];
//     if (td) {
//       txtValue = td.textContent || td.innerText;
//       if (txtValue.toUpperCase().indexOf(filter) > -1) {
//         tr[i].style.display = "";
//       } else {
//         tr[i].style.display = "none";
//       }
//     }
//   }
// }
</script>
