<div class="polls-index">

  <div class="poll-index-header">
    <h3>Polls</h3>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Polls..." title="Type in a name">
    <div>
      <%= link_to 'Start New Poll', new_poll_path, class: "start-poll-call-to-action" %>
    </div>
  </div>

  <div class="table-wrapper">
    <table id="myTable" class="fl-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>View</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% if @user_polls.any? %>
          <% @user_polls.each do |poll| %>
            <tr>
              <td><%= poll.title %></td>
              <td><%= poll.description %></td>
              <td> <%= link_to 'View poll', poll_path(poll.id) %></td>
              <% if current_user.has_role?(:resource_admin, poll) %>
                <td class="table-edit-link"><%= link_to '', edit_poll_path(poll.id), class: "fa fa-edit" %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
