<div class="polls-index"> <!-- Margin should be removed once button is restyled -->

  <div class="poll-index-header">
    <div>
      <%= link_to 'New Poll', new_poll_path, class: "btn btn-primary js-scroll-trigger create-resource-call-to-action" %>
    </div>
    <input type="text" id="pollSearch" class="search-field" onkeyup="searchTable()" placeholder="Search for Polls..." title="Type in a name">
  </div>

  <div class="table-wrapper">
    <table id="pollTable" class="fl-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>View</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% if @user_polls.any? %>
          <% @user_polls.each do |poll| %>
            <tr>
              <td><%= poll.title %></td>
              <td><%= poll.description %></td>
              <td> <%= link_to 'View poll', poll_path(poll.slug), class: "table-link" %></td>
              <% if current_user.has_role?(:resource_admin, poll) %>
                <td class="table-edit-link"><%= link_to '', edit_poll_path(poll.slug), class: "table-link fa fa-edit" %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  searchTable();
</script>
