<div class="polls-index">
  <div class="poll-admin-index">
    <% if current_user.has_role?(:resource_admin, :any) %>
      <h5>polls where <%= current_user.email %> is resource admin</h5><br /><br />
      <% @user_admin_polls.each do |poll| %>
        <%= poll.title %><br />
        <%= poll.description %><br />
        <%= link_to 'View poll', poll_path(poll.id) %><br />
        <%= link_to 'Edit poll', edit_poll_path(poll.id) %><br /><br />
      <% end %>
    <% end %>
  </div><br />
  <div class="poll-user-index">
    <% if current_user.has_role?(:user, :any) %>
      <h5>polls where <%= current_user.email %> is a User</h5> <br /><br />
      <% @user_polls.each do |poll| %>
        <%= poll.title %><br />
        <%= poll.description %><br />
        <%= link_to 'View poll', poll_path(poll.id) %><br />
        <%= link_to 'Edit poll', edit_poll_path(poll.id) %><br />
      <% end %>
    <% end %>
  </div><br />
</div><br />
