<div class="poll-edit">
  <div class="button-group">
    <% if policy(@poll).update? %>
      <% if current_user.email_groups.any? %>
        <%= link_to 'Add Groups', add_groups_path(poll_id: @poll.id), class: "btn btn-primary js-scroll-trigger app-standard-button add-groups-button ", remote: true %><br />
      <% else %>
        <%= link_to 'Create Group', new_group_path, class: "btn btn-primary js-scroll-trigger app-standard-button create-group-button" %><br />
      <% end %>
      <%= link_to 'Add Users', new_poll_roles_path(poll_id: @poll.id), class: "btn btn-primary js-scroll-trigger app-standard-button add-user-button", remote: true %><br />
    <% end %>
    <%= link_to 'View Poll', poll_path(@poll), class: "btn btn-primary js-scroll-trigger app-standard-button view-poll-button" %>
  </div>
  <%= render partial: "polls/form" %>

  <% if policy(@poll).update? %>
    <div class="poll-option-user-index">
      <% if @poll.roles.any? %>
        <h5><%= @poll.title %> Participants</h5>
        <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for Users Emails...." title="Type in a Email">
        <div class="table-wrapper">
          <table id="myTable" class="fl-table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <% @poll.roles.each do |role| %>
                <% role.users.each do |user| %>
                  <tr>
                    <td><%= user.email %></td>
                    <td><%= link_to 'Remove user', remove_user_from_poll_path(resource_id: role.resource_id, name: role.name, user_id: user.id) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
 searchTable();
</script>
