<div class="poll-show">
  <div id="poll-show-header">
    <% if policy(@poll).update? %>
      <div class="poll-show-admin-controls">
          <button><%= link_to 'New Option', new_poll_option_path(poll_id: @poll.id) %></button>
          <button><%= link_to 'Edit Poll', edit_poll_path(@poll) %></button>
      </div>
    <% end %>
    <div id="poll-show-title"><%= @poll.title %></div>
    <div id="poll-show-description"><%= @poll.description %></div>
  </div>

  <div class="poll-options-index"><br />
    <%= render partial: "poll_options/index" %>
  </div>

  <div style="text-align: center;">
    <%= user_vote_button(@poll) %>
  </div>
</div>

<script type="text/javascript">
  function submitAllVotes() {
    if (confirm("Are you sure you want to submit these votes?")) {
      $('.vote-submit-button').click();
      $(".slider").attr("disabled", true);
      document.getElementById("masterSave").innerHTML = "Voted!"
      $("#masterSave").attr("disabled", true);
      <%= @poll.all_users_voted? %>
    } else {
    }
  }
</script>
