<div class="poll-show" style="text-align: center;">
  <h5><%= @poll.title %></h5>
  <h5><%= @poll.description %></h5>
  <% if policy(@poll).update? %>
    <button><%= link_to 'Create Poll Option', new_poll_option_path(poll_id: @poll.id) %></button>
    <button><%= link_to 'Edit poll', edit_poll_path(@poll) %></button>
  <% end %>
  <div class="poll-options-index"><br />
    <%= render partial: "poll_options/index", remote: true %>
  </div>

  <%# <%= submit_tag "Vote", id: "masterSave", onclick: "submitAllVotes()", class: "submit-button", data: { confirm: "Confirm your Votes?" } %> %>

  <% if policy(@poll).update? %>
    <% if @poll.roles.any? %>
      <h5><%= @poll.title %> Participants</h5>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @poll.roles.each do |role| %>
            <% role.users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= link_to 'Remove user', remove_user_from_poll_path(resource_id: role.resource_id, name: role.name, user_id: user.id) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  // function submitAllVotes() {
  //   $(".slider").attr("disabled", true);
  //   $('.vote-submit-button').click();
  // };
</script>
