<div class="poll-show">
  <div data-step="9" data-intro="Its that easy! Happy voting!" id="poll-show-header">
    <button class="app-standard-button" onclick="runPollShowTour()">What do I do?</button>
    <% if policy(@poll).update? %>
      <div class="poll-show-admin-controls">
        <%= link_to 'Edit Poll', edit_poll_path(@poll), class: "btn app-standard-button" %>
      </div>
    <% end %>
    <div data-step="1" data-intro="This is the polls title." id="poll-show-title"><%= @poll.title %></div>
    <div data-step="2" data-intro="This is the polls description." id="poll-show-description"><%= @poll.description %></div>
  </div>

  <div class="poll-options-index"><br />
    <%= render partial: "poll_options/index" %>
  </div>

  <div style="text-align: center;">
    <div style="width: 120px; height: 80px; margin: 0 auto;" data-step="8" data-intro="You click me to vote on all options."><%= user_vote_button(@poll) %></div>
  </div>
</div>

<script type="text/javascript">
  function submitAllVotes() {
    if (confirm("Are you sure you want to submit these votes?")) {
      $('.vote-submit-button').click();
      $(".slider").attr("disabled", true);
      document.getElementById("masterSave").innerHTML = "You Voted!"
      $("#masterSave").attr("disabled", true);
      <%= @poll.all_users_voted? %>
    } else {
    }
  }
</script>
