<div class="poll-show">
  <%= @poll.title %><br />
  <%= @poll.description %><br />
  <%= link_to 'Edit poll', edit_poll_path(@poll) %><br />
  <%= link_to 'Create Poll Option', new_poll_option_path(poll_id: @poll.id) %><br />
  <div class="poll-options-index"><br />
    <%= render partial: "poll_options/index", remote: true %>
  </div>
</div>
