<div class="poll-show">
  <div id="poll-show-title"><%= @poll.title %></div>
  <div id="poll-show-description"><%= @poll.description %></div>

  <% if policy(@poll).update? %>
    <div class="poll-show-admin-controls">
        <button><%= link_to 'Create Poll Option', new_poll_option_path(poll_id: @poll.id) %></button>
        <button><%= link_to 'Edit poll', edit_poll_path(@poll) %></button>
    </div>
  <% end %>

  <div class="poll-options-index"><br />
    <%= render partial: "poll_options/index" %>
  </div>

  <%= user_vote_button(@poll) %>

  <% if policy(@poll).update? %>
    <% if @poll.roles.any? %>
      <h5><%= @poll.title %> Participants</h5>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @poll.roles.each do |role| %>
            <% role.users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= link_to 'Remove user', remove_user_from_poll_path(resource_id: role.resource_id, name: role.name, user_id: user.id) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  function submitAllVotes() {
    if (confirm("Are you sure you want to submit these votes?")) {
      $('.vote-submit-button').click();
      $(".slider").attr("disabled", true);
      document.getElementById("masterSave").innerHTML = "Voted!"
      $("#masterSave").attr("disabled", true);
      <%= @poll.all_users_voted? %>
    } else {
    }
  }
</script>
