<div class="form" style="text-align: center;">

  <%= form_for (@vote) do |f| %>
    <%= f.hidden_field :poll_option_id, value: option_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <% if @vote.errors.any? %>
      <%= @vote.errors.full_messages %>
    <% end %>

    <input class="" type="text" id="textInput<%= option_id %>" value="0" style="background-color: rgba(1,1,1,0); border: none; text-decoration: none; text-align: center;" disabled>

    <input type="range" name="vote[rating]" min="-5" max="5" step="0.01" value="0" class="slider" id="myRange<%= option_id %>" onchange="updateTextInput<%= option_id %>(this.value);">

    <%= f.submit "Vote", class: "submit-button vote-submit-button" %>

  <% end %>
</div>

<script type="text/javascript">
  function updateTextInput<%= option_id %>(val) {
    document.getElementById("textInput<%= option_id %>").value=val;
  }
</script>
