<div class="form" id="vote-form-<%= option_id %>" style="text-align: center;">
  <p><%= option_id %></p>
  <p><%= @vote.rating %></p>
  <p><%= "#{@vote.poll_option_id}HELP" %></p>
  <p><%= @poll_options_ids %></p>

    <input class="" type="text" id="textInput<%= option_id %>" value="<%= @vote.rating %>" style="background-color: rgba(1,1,1,0); border: none; text-decoration: none; text-align: center;" disabled>

    <input type="range" name="vote[rating]" min="-5" max="5" step="0.01" value="<%= @vote.rating %>" class="slider" id="myRange<%= option_id %>" onchange="updateTextInput<%= option_id %>(this.value);">

    <%= submit_tag "Locked" %>
</div>

<script type="text/javascript">
  function updateTextInput<%= option_id %>(val) {
    document.getElementById("textInput<%= option_id %>").value=val;
  }
</script>
