<% if ['static_pages'].include?(controller_name) %>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top signed-in-navbar" id="mainNav">
<% end %>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/"><i class="fa fa-balance-scale"></i>R-Scale</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
           <%= link_to('Start Poll', new_poll_path, class: "nav-link js-scroll-trigger") %>
          </li>
          <li class="nav-item">
            <%= link_to('Create Group', new_group_path, class: "nav-link js-scroll-trigger") %>
          </li>
          <li class="nav-item">
            <%= link_to('Edit User', edit_user_registration_path(current_user.id), class: "nav-link js-scroll-trigger") %>
          </li>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link js-scroll-trigger") %>
          </li>

          <li class="nav-item">
          <% if policy(:admin).index? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Dashboards
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <button class="nav-button"><%= link_to 'Users Index', admin_users_path %></button>
                <button class="nav-button"><%= link_to 'Polls index', admin_polls_path %></button>
              </div>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link js-scroll-trigger", remote: true %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<script>
  $('.js-scroll-trigger').click(function() {
    $('.navbar-collapse').collapse('hide');
  });

  $('body').scrollspy({
    target: '#mainNav',
    offset: 100
  });

  var navbarCollapse = function() {
    if ($("#mainNav").offset().top > 100) {
      $("#mainNav").addClass("navbar-shrink");
    } else {
      $("#mainNav").removeClass("navbar-shrink");
    }
  };
  navbarCollapse();
  $(window).scroll(navbarCollapse);
</script>