<!DOCTYPE html>
<html>
  <head>
    <title>Rscale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/introjs.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/themes/introjs-royal.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/intro.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render partial: 'layouts/navbar', locals: {  } %>
    <%= render partial: 'layouts/modal', locals: {  } %>
    <p class="notice flash-message"><%= notice %></p>
    <p class="alert flash-message"><%= alert %></p>
    <div class="yield-div">
      <%= yield %>
    </div>
    <script type="text/javascript">
      slideUp_messages();
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
